/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Navbar Styles */

nav {
  position: relative;
  padding: 1.5rem 0 1rem 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  background: #fff;
}
.logohead {
  font-weight: 700;
  color: #3540e8;
}
.logohead > span {
  color: #3e377b;
  font-weight: 300;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem 0 5rem;
}
.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.right a {
  text-decoration: none;
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.btnsignin:hover,
.btntrial:hover {
  cursor: pointer;
}
.btnsignin {
  color: #3540e8;
  background: none;
  border: none;
  font-weight: 400;
  font-size: medium;
}

.btntrial {
  background: none;
  color: #3540e8;
  font-size: medium;
  border: 2px #7b81ef solid;
  padding: 10px;
  border-radius: 5px;
}

/* Hero Styles */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 6rem 0 6rem;
}

.hero-left {
  padding: 5rem 3.5rem 5rem 0;
}
.hero-head {
  font-size: 4rem;
  font-weight: 700;
  color: #0f073f;
}
.hero-left p .learn {
  color: #3540e8;
}
.hero-para {
  color: #424959;
  font-weight: 400;
  font-size: medium;
  margin-top: 1.5rem;
}
.hero-left button {
  display: flex;
  align-items: center;
  background: #3540e8;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  font-weight: 400;
  margin-top: 1.5rem;
}
.hero-left button:hover {
  cursor: pointer;
}

/* Collaborations Styles*/
.collab {
  width: 100%;
  background: #171b62;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.collab-companies {
  display: flex;
  gap: 5rem;
  margin-top: 1.5rem;
}
.collab .tit {
  color: #fff;
}

.collab-companies p {
  display: flex;
  align-items: center;
  color: #a2a3c1;
  font-weight: 400;
}

/* Start Learning Styles */
.start-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 6rem 0 6rem;
}
.start-learning-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-learning-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.start-learning-cat button {
  height: 35px;
  width: 200px;
  border: 1px solid #e6e5ea;
  border-radius: 3px;
  background: #fff;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-learning-cat .active {
  background: #3540e8;
  color: #fff;
  border: 1px solid #3540e8;
}
.start-learning-head .sl {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.start-learning-head .cgys {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
  margin-top: 0.5rem;
}
.start-learning-courses {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.start-learning-courses div {
  background: #fff;
}
.card-data {
  margin: 10px;
}
.card-data div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.card-data > p {
  margin-top: 10px;
  font-weight: 600;
  color: #0f073f;
}
.card-data div p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.card-section .cat {
  background: #c0c3f8;
  padding: 3px 8px;
  color: #474db7;
  font-weight: 500;
}
#card-bottom {
  margin-top: 25px;
}
.explore-btn:hover {
  cursor: pointer;
}
.explore-btn {
  display: flex;
  align-items: center;
  background: none;
  color: #3540e8;
  font-size: medium;
  border: 2px #7b81ef solid;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

/* Achievements Styles */
.achievements-main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 6rem 6rem 0 6rem;
}
.ach-left-section {
  position: relative;
}
.ach-left-section img {
  position: absolute;
  top: 30px;
  left: 0;
}
.ach-empty {
  height: 400px;
  width: 350px;
  background: #c0c3f8;
  margin-left: 30px;
  margin-bottom: 90px;
  border-radius: 0 25px 0 0;
}
.achievements-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.achievements-right .sl {
  color: #424959;
  font-weight: 400;
  font-size: smaller;
}
.achievements-right .our-ach {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
  margin-top: 1rem;
}
.ach-data {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-top: 2rem;
}
.ach-data div {
  display: flex;
  align-items: center;
}
.ach-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffa032;
  border-radius: 3px;
}
.ach-info {
  font-size: 1.5rem;
  font-weight: 900;
  color: #0f073f;
  margin-left: 10px;
}
.ach-info-ar {
  color: #424959;
  font-weight: 400;
  font-size: small;
}

/* Categories Styles */
.categories-section {
  padding: 5rem 6rem;
  background: #fff;
}
.cat-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-head .ct {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.cat-head .eoc {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
  margin-top: 0.5rem;
}
.cat-courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 2rem;
}
.cat-course,
.cat-course-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e5ea;
  border-radius: 3px;
  background: #fff;
  width: 18rem;
  height: 15rem;
}
.cat-course-head {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f073f;
}
.cat-course-para {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}

.cat-course-more {
  background: #171b62;
  cursor: pointer;
}
.cat-course-more .cat-course-head,
.cat-course-more .cat-course-para {
  color: #fff;
  margin-bottom: 1rem;
}

/* Features Styles */
.features-section {
  padding: 5rem 6rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feat-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feat-head .ft {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.feat-head .gyswc {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
  margin-top: 0.5rem;
}
.feat-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  grid-column-gap: 20px;
  margin-top: 30px;
}
.feat-content-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-top: 2px #6870ee solid;
  border-radius: 10px;
}
.feat-content-icon {
  background: #6870ee;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.feat-content-head {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f073f;
  margin-bottom: 1rem;
}
.feat-content-para {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.for-learners {
  margin-top: 3rem;
  width: 100%;
  height: 400px;
  background: #171b62;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 3rem;
  border-radius: 5px;
  position: relative;
}
.for-learners p {
  color: #fff;
  margin: 10px 10px;
  font-weight: 400;
}
.for-learners .for-learners-head {
  font-size: 2rem;
  font-weight: 700;
}
.for-learners button {
  margin: 20px 0 0 10px;
  height: 40px;
  width: 150px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  border-radius: 3px;
}
.for-learners button:hover {
  cursor: pointer;
}
.for-learners-box {
  background: #ebecfe;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 350px;
  width: 350px;
  border-radius: 10px 0 0 0;
}
.for-learners-box img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* BecomeInstructor */
.become-instructor {
  padding: 5rem 6rem 0 6rem;
}
.become-instructor-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  width: 100%;
  height: 400px;
}
.become-instructor-inner-left {
  background: #a4a7f4;
  margin: 5rem;
  position: relative;
  border-radius: 5px;
}
.become-instructor-inner-right {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.become-instructor-inner-right .bi {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.become-instructor-inner-right .jsk {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f073f;
}
.become-instructor-inner-right .bi-para {
  color: #424959;
  font-weight: 400;
  font-size: small;
}
.become-instructor-inner-right button {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3540e8;
  border: none;
  border-radius: 3px;
  padding: 10px 10px;
  color: #fff;
  font-weight: 500;
  margin-top: 1.5rem;
}
.become-instructor-inner-right button:hover {
  cursor: pointer;
}
.bi-img1 {
  position: absolute;
  width: 150px;
  height: 120px;
  top: -40px;
  left: 20px;
  border-radius: 0 0 50% 50%;
  object-fit: fill;
}
.bi-img2 {
  position: absolute;
  left: 20px;
  bottom: -40px;
  width: 150px;
  height: 190px;
  border-radius: 40%;
  object-fit: fill;
}
.bi-img3 {
  position: absolute;
  right: 50px;
  bottom: 10%;
  top: 10%;
  width: 200px;
  height: 80%;
  object-fit: fill;
  border-radius: 40% 40% 40% 0;
}

/* Testimonials */
.testimonials {
  margin-bottom: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 6rem 0 6rem;
}
.testimonial-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.testimonials .tmon {
  color: #838292;
  font-weight: 400;
  font-size: medium;
}
.testimonials .wht {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
}
.swiper {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 400px;
  grid-column-gap: 20px;
  margin-top: 2rem;
  
}
.swiper .left,
.swiper .right {
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}
.swiper .left,
.swiper .right {
  background: url("https://res.cloudinary.com/dq0ns677p/image/upload/v1698416281/course-whiz/smiling-positive-brunette-brown-eyed-lady-stylish-outfit-posing-beige-room_197531-14214_zy1mw5.jpg")
    bottom center no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5359e1;
    opacity: 0.9;
    z-index: -1;
  }
}
.swiper .center {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 400px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}
.swiper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.swiper-name {
  font-size: large;
  font-weight: 700;
  color: #0f073f;
}
.swiper .ctn {
  color: #838292;
  font-weight: 400;
  font-size: medium;
}

/* Newsletter */
.newsletter {
  width: 60%;
  height: 20rem;
  background: #fff;
  position: absolute;
  top: -10rem;
  left: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 5px;
}
.newsletter .nw {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.newsletter .goe {
  font-size: 2rem;
  font-weight: 700;
  color: #0f073f;
}
.newsletter .sub {
  color: #424959;
  font-weight: 400;
  font-size: medium;
}
.newsletter input {
  height: 45px;
  width: 25rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.search-box {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 5px;
}
.search-box button {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3540e8;
  border: none;
  border-radius: 3px;
  padding: 10px 10px;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 5px;
  right: 5px;
}
.search-box button:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  background: #171b62;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer-logo-sec {
  padding-top: 10rem;
}
.footer-logohead {
  color: #fff;
}
.footer-logohead span {
  color: #ab9ed4;
  font-weight: 300;
}
.footer-con,
.footer-icons {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}
.footer-con p {
  color: #838292;
  font-weight: 500;
  font-size: medium;
}
